<footer class="container-fluid p-2">
    <p class="text-center lead text-light m-0 fs-6">Copyright © 2023 <span class="text-light my-family-200">Harsh Ribadiya</span></p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
  
</body>

</html>